
.container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60%;
}

.react-calendar {
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #000;
  color: white;
  box-shadow: none;
}

.react-calendar__navigation {    
    all: unset;
    background-color: black; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    gap: 20px;
  }
  .react-calendar__navigation button {
    background: none; 
    color: white; 
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.2s;
    padding: 0;
  }
  .react-calendar__navigation button:hover {
    color: var(--hover-gray);
    background-color: black !important;
  }
  .react-calendar__navigation__label {
    order: 1;
    pointer-events: none; /* 클릭 이벤트 비활성화 */

    font-weight: 700;
  }
  .react-calendar__navigation__arrow {
    order: 2;
  }

.react-calendar__month-view__weekdays {
    color: white; /* 요일 텍스트 색상 */
    font-size: 1rem;
    font-weight: 500;
  }

  .react-calendar__month-view__weekdays abbr {
    text-decoration: none; 
  }

.react-calendar__month-view__days {
    color: black;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
}

.react-calendar__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    aspect-ratio: 1 / 1.3; 
    padding: 0;

    background-color: #222;
    color: white;
    transition: background-color 0.2s ease;
  }
  .react-calendar__tile--now {
    background-color: #3498db; /* 오늘 날짜 배경색 */
    color: white;
  }

  /* 날짜 */
.react-calendar__tile > abbr {
  margin: 0;
}


.tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- 감정별 원 배지 공통 스타일 --- */
.emotion-badge {
  border-radius: 50%;
  width: 24px;
  height: 24px;

  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: black;
  line-height: 24px;
}

/* --- 감정(emotion)에 따른 배경색 지정 --- */
.happiness {
  background-color: #F7E8A4;  
}
.sadness {
  background-color: #A0B9D9;  
}
.calmness {
  background-color: #C7EAE4;  
}
.love {
  background-color: #D9A5B3;  
}
.anger {
  background-color: #A63A4A;  
}
.fear {
  background-color: #4E5D73;  
}
.excitement {
  background-color: #E9A272;  
}
.boredom {
  background-color: #B8B0A1;  
} 
.loneliness {
  background-color: #8F7A99;  
}
.no-data {
  background-color: transparent;
  color: white;
}

.tile-image-container {
  display: flex;
  width: 100%;
} 

.tile-image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain !important;
} 
