
.playlist-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

  gap: 40px;
  width: 80%;
  min-width: 300px;
  min-height: 500px;
  background-color: #000;
  color: white;
}

.section-wrapper {
  display: flex;
  flex: 6;
  flex-direction: column;
  gap: 20px;
}

.section-header{
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 15px 0;

  background: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subheader{
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-beige);
  margin: 0;
} 

.diary-section {
  display: flex; 
  flex: 1;
  gap: 20px; 
  padding: 25px;
  border: 1px solid #7A725F;
  border-radius: 24px;
  background-color: #000;
  align-items: flex-start;
}

.diary-content {
  display: flex;
  flex-direction: column;
}

.diary-content p {
  font-size: 1rem;
  line-height: 1.3;
}
.diary-content h2 {
  margin: 0 0 10px 0;
  font-size: 1.25rem;
}

.playlist-section {
  flex: 4;
  padding: 0;
  border-radius: 5px;
  background-color: black;
  color: #fff;
}

.playlist-header {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.playlist-header p{
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-beige);
  margin: 0;
}

.playlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.menu-burger-icon{
  width: 10px;
  height: 10px;
  margin: 0 20px 0 4px;
}

.cover{
  width: 132px;
  height: 132px;
  margin-right: 20px;
}

.playlist-item p{
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;
}

.playlist-item .title {
  font-size: 1rem;
  color: white;
}

/* calendar widget */
.calendar-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  
}

/* 날짜 영역 스타일 */
.date-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EBE3D2;
  padding: 8px 10px;
  border-radius:14px;
  box-shadow: 0 2px 10px 0 rgba(217, 217, 217, 0.5);
  text-align: center;
  line-height: 1;
}

.date-display .day {
  font-size: 0.5rem;
  font-weight: 500;
  color:#7a7a7a;
}

.date-display .date {
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
}

/* 하단 점 영역 스타일 */
.dots {
  display: flex;
  margin-top: 5px;
  gap: 5px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #7a7a7a;
  border-radius: 50%;
  opacity: 0.5;
}
