*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  /* 메인 컬러 */
  --color-pink: #E4A8AE;
  --color-beige: #F5E5C0;
  
  /* gradient 변수 등록 */
  --gradient-primary: linear-gradient(135deg, var(--color-pink), var(--color-beige));
  --gradient-secondary: linear-gradient(90deg, var(--color-pink), var(--color-beige));
  
  /* hover 효과용 색상 변수 추가 */
  --hover-gray: #A9A9A9;
  --hover-pink: #f05f7a;
  
  /* hover 트랜지션 시간 변수 */
  --transition-speed: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 72px auto 0;
  background-color: black;
  color: white;
}

/* 공통 hover 효과 클래스들 */
.hover-gray {
  transition: all var(--transition-speed);
}

.hover-gray:hover {
  color: var(--hover-gray);
}

.hover-button2 {
  transition: all var(--transition-speed);
}

.hover-button2:hover {
  background: var(--hover-pink);
  color: #fff;
}

.empty-box {
  width: 60px;
  height: 25px;
  background: var(--gradient-primary);
  border-radius: 8px;
}
